.landing-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 113px 0 71px;
  
  h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  
  h2::after {
    content: "";
    display: block;
    width: 101px;
    border: 1px solid #30A2DE;
    background: #30A2DE;
    position: relative;
    top: 5px;
  }
  
  ul {
    margin-top: 41px;
    margin-left: 35px;
    li {
      font-weight: normal;
      font-size: 20px;
      line-height: 50px;
    }
  }
  
  ul::after {
    content: "";
    display: block;
    width: 160px;
    border-bottom: 1px dashed #FFFFFF;
    transform: rotate(90deg);
    position: relative;
    top: -100px;
    right: 33%;
  }
  
  .video-block {
    margin-left: 110px;
    .video {
      margin-top: 54px;
      width: 461px;
      height: 253px;
      border: 1px solid #D8D8D8;
    }
  }
}