.nav-header {
  background-color: #151515;
  min-height: 123px;
  display: flex;
  align-items: center;
  padding: 0 60px 0;

  .logo {
    flex-shrink: 0;
    margin-right: 38px; //изменить, когда добавится другой логотип
  }

  nav {
    min-height: 25px;
    text-transform: uppercase;

    a {
      margin: 0 21px 0;
      white-space: nowrap;
    }

    a:visited { 
      color: white;
    }

    a:hover, a:focus {
      > .underline-active {
        display: inline-block;
        line-height: 0.8;
        border-bottom: 1px solid #30A2DE;
      }
    }

    a:active {
      > .underline-active {
        border: none;
      }

      color: #30A2DE;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
    
    a.selected {
      color: #30A2DE;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.nav-header {
  &.light-theme {
    background-color: #949597;
  }
}