article.our-products {
  padding: 30px 3px 30px;
  color: #DFDFDF;
  
  a.text-link {
    color: #30a2de;
    font-weight: bold;
    border-bottom: 1px solid #30a2de;
    
    &:focus, &:hover {
      border-bottom: none;
    }
    
    &:active {
      color: #2571d3;
    }
  }
  
  h1 {
    margin: 21px 0;
  }
  
  h2 {
    margin: 25px 0 15px;
  }
  
  h3 {
    margin: 30px 0 5px;
  }
  
  section.chapter {
    width: 100%;
    border-bottom: 1px dashed #DFDFDF;
    padding: 10px 0 30px;
    
    p {
      margin-bottom: 5px;
      text-indent: 20px;
      line-height: 21px;
    }
    
    section.about-product-lines {
      margin-bottom: 20px;
    }

  }
  
  b {
    font-weight: 500;
    color: #30a2de;
    letter-spacing: 1.1;
  }
  
  .image-link {
    display: block;
    margin-bottom: 10px;
    
    &:hover img, &:focus img {
      box-shadow: 0 0 0 2px #ffffff;
    }
    
    &:active img {
      box-shadow: 0 0 0 4px #ffffff;
    }
  }
  
  .grid-block {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch; 
    
    .grid-item {
      box-sizing: border-box;
      flex-basis: 450px;
      min-width: 360px;
    }
      
    .image-container {
      max-width: 100%;
      box-sizing: border-box;
      
      img {
        width: 100%;
      }
    }
      
    p {
      box-sizing: border-box;
      // padding-right: 35px;
      text-align: justify;
      max-width: 450px;
    }
    
  }
  
  
  .button-block {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    
    button {
      margin-right: 15px;
      margin-top: 10px;
    }
  }
}