$rain: #2C3845;

.feature-table{
    width: 100%;
}

table {
    display: block;
  }
  tr,td,tbody, tfoot {
    display: block;
  }
  thead {
    display: none;
  }
  tr {
    padding-bottom: 10px;
  }
  td {
    padding: 10px 10px 0;
    text-align: center;
    &:before {
      content: attr(data-title);
      color: lighten($rain,35%);
      text-transform: uppercase;
      font-size: 1.4rem;
      padding-right: 10px;
      display: block;
    }
  }
  table {
    width: 100%;
  }
  
  th {
    text-align: left;
    font-weight: 700;
  }
  thead {
    th {
      background-color: darken($rain,6%);
      color: #fff;
      border: 1px solid darken($rain,6%);
    }
  }
  tfoot {
    th {
      display: block;
      padding: 10px;
      text-align: center;
      color: lighten($rain,55%);
    }
  }

  @media (min-width: 460px) {
    td {
      text-align: left;
    }
    td:before {
      display: inline-block;
      text-align: right;
      width: 140px;
    }
  
    .select {
      padding-left: 160px;
    }
  }
  @media (min-width: 720px) {
    table {
      display: table;
    }
  
    tr {
      display: table-row;
    }
  
    td, th {
      display: table-cell;
    }
  
    tbody {
      display: table-row-group;
    }
  
    thead {
      display: table-header-group;
    }
  
    tfoot {
      display: table-footer-group;
    }
  
    td {
      border: 1px solid #28333f;
    }
    td:before {
      display: none;
    }
  
    td, th {
      padding: 10px;
    }
  
    tr:nth-child(2n+2) td {
      background-color: #242e39;
    }
  
    tfoot th {
      display: table-cell;
    }
  
    .select {
      padding: 10px;
    }
  }