.showcase-item {
  &.crusher{
  background-image: url('../../../../images/showcase/crusher.png');
  background-repeat: no-repeat;
  }
  
  .showcase-item-description {
    .advantages ul {
      li:first-of-type::before {
        background-image: url("../../../../images/icons/autonomy.svg");
        background-size: contain;
      }
      
      li:nth-of-type(2)::before {
        background-image: url("../../../../images/icons/hand.svg");
        background-size: cover;      
      }
      
      li:last-of-type::before {
        background-image: url("../../../../images/icons/levels.svg");
        background-size: cover;
      }
    }
  }
}
