.modal {
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  
  .modal-header {
    height: 20px;
    padding: 5px;
    
    .close {
    display: float;
    float: right;
    background-color: transparent;
    font-size: 30px;
    color: #eeeeee;
    border: none;
    }
  }
  
  .modal-content {
    margin: auto;
    padding: 0 31px 31px;
  }
}