.product-pictures.desktop {
  height: 274px;
  width: 354px;
  display: grid;
  grid-gap: 18px;
  grid-template-areas: "s1 m m m" "s2 m m m" "s3 m m m";
  
  .small-picture:first-of-type {
    grid-area: s1;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
  }
  
  .small-picture:nth-of-type(2) {
    grid-area: s2;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
  }
  
  .medium-picture {
    grid-area: m;
    width: 278px;
    height: 278px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
  }

  .last-small-area {
    grid-area: s3;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    position: relative;
  }
  
  .small-picture img {
    max-width: 80px;
    max-height: 80px;
  }
  
  .medium-picture img {
    max-width: 278px;
    max-height: 278px;
  }
  
  .last-small-area img {
    max-width: 80px;
    max-height: 80px;
  }

  .inner {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 20px;
  }
  
  button {
    padding: 0;
  }
  
  .modal {
    max-height: 90%;
  }
  
  .modal-content {
    padding: 10px 61px 41px;
    max-height: 85%;
    img {
      max-height: 500px;
    }
  }
}
