.modal {
  min-width: 400px;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  
  .modal-header {
    height: 50px;
    padding: 5px;
    
    .close {
    display: float;
    float: right;
    background-color: transparent;
    font-size: 30px;
    color: #eeeeee;
    border: none;
    }
  }
  
  .modal-content {
    margin: auto;
    
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
}