@import "./reset.css";

$blue: #30A2DE;

body {
  color: #FFFFFF;
  background-color: #949597;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  #root {
    .container-big {
    max-width: 1430px;
    min-width: 980px;
    margin: auto;
    }

    .container-small {
      width: 980px;
      margin: 0 auto;
    }
    
    main.main-content {
      min-height: 400px;
    }
  }
  
  h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #30A2DE;
  }
  
  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #DFDFDF;
  }
}

//CSS Transition classNames: popUp
//ИМЕННО В ТАКОМ ПОРЯДКЕ!

.popUp-enter {
  opacity: 0;
}

.popUp-enter-active { 
  opacity: 1;
  transition: opacity 400ms;
}

.popUp-exit {
  opacity: 1;
}

.popUp-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}

.popUp-enter-done, .popUp-enter, .popUp-exit, .popUp-enter-active, .popUp-exit-active {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 1;
  transform: translateX(-50%);
}
