.products-nav {
  background-color: #484848;
  
  .container-big {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    
    & > * {
      margin-right: 43px;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      padding: 20px 16px 0 13px;
    }
    
    .product-nav_title {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 28px;
      padding-top: 12px;
    }
    
    .product-link--active {
      background-color: #343434;
      border-bottom: 5px solid #30A2DE;
    }
  }
}